*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.main_div{
    background-color: black; 
    min-height: 100vh;
    width: 100%;
    color: aliceblue;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 3%;
}
nav .logo{
    width: 250px;
    cursor: pointer;
    background-color: #e0dbe6;
    background-image: linear-gradient(to top, rgb(214, 141, 6), #c4bba5 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
button{
    background-color: rgb(144, 136, 136);
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
button span{
    display: block;
    background-color: aliceblue;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

.moon_container{
    position: absolute;
    top: 200px;
    left: 22%;
    width: 300px;
}
.moon{
    width: 300px;
    margin-bottom: -26%;
    opacity: 1;
    transition: opacity 0.5s;
}
.secondmoon{
    width: 300px;
    margin-top: -200px;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 18px;

}
.moon_container h1{
    margin-bottom: -26%;
    margin-left: 50px;
    display: none;
}

.text_container{
    max-width: 600px;
    margin-top: 10%;
    margin-left: 50%;
    margin-bottom: 30px;

}
.text_container h1{
    font-size: 80px;
    font-weight: bold;
}
.text_container a{
    text-decoration: none;
    background-color: blanchedalmond;
    padding: 14px 40px;
    display: inline-block;
    color: rgb(3, 9, 14);
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 120px;
}
.control .line{
    width: 250px;
    height: 4px;
    background-color: aliceblue;
    margin:0 20px ;
    border-radius: 2px;
}
.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background-color: brown;
    display: block;

}

.active{
    
    background-color: chocolate;
}
.active span{
    background-color: brown;
    margin-left: 31px;
}
.on {
    opacity: 0;
}
.onsecondmoon{
    opacity: 1;
}
.backgroundImage{
    background-image: url('stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* POP-UP BOXES */

/* .modal {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.first_box_content{
    position: relative;
    background-color: aqua;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 4px;
    height: 500px;
}
.x{
    position: absolute;
    top: 0;
    right: 30px;
    color: wheat;
    text-decoration: none;
} 
/* VISIBLE MODAL ON CLICK*/
/* .modal:target{
    visibility: visible;
    opacity: 1;
} 
*/

 .footer{
    padding: 20px 3%;
    height: 50px;
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    top: 0;
    z-index: 999;
    color: aliceblue;
 }
 .footer_social-media{
    display: flex;
 }
 .footer_social-media a{
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #e0dbe6;
    background-image: linear-gradient(to top, rgb(214, 141, 6), #c4bba5 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
 }
 .footer_social-media i:hover{
    color: #e0dbe6;
    /* transform: scale(1.075);
    transition: 0.2s ease-in; */
    cursor: pointer;
}
 .footer_second p{
    margin-left: 960px;
}