*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    overflow: hidden;
}
.main_div{
    background-image: url('stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    color: aliceblue;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 3%;
}
nav .logo{
    width: 160px;
    cursor: pointer;
    background-color: #e0dbe6;
    background-image: linear-gradient(to top, rgb(214, 141, 6), #c4bba5 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
.thebiggest{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 40% ;
    width: 50%;
    margin-left: 360px;
    margin-top: -79px;
}
.main #massage{
    position: absolute;
    margin-top: 20%;
    margin-left: 30px;
    background-color: #1c2733;
    border-radius: 6px;
    width: 300px;
}
.main img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 60px;
}
#massage h1{
    padding-bottom: 15px;
    padding-left: 5px;
    padding-top: 5px;
}
#massage h4{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}
#massage p{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

/* POP-UP BOXES */

/* .modal {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.first_box_content{
    position: relative;
    background-color: aqua;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 4px;
    height: 500px;
}
.x{
    position: absolute;
    top: 0;
    right: 30px;
    color: wheat;
    text-decoration: none;
} 
/* VISIBLE MODAL ON CLICK*/
/* .modal:target{
    visibility: visible;
    opacity: 1;
} 
*/

 .footer{
    padding: 98px 3%;
    height: 50px;
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    top: 0;
    z-index: 999;
    color: aliceblue;
 }
 .footer_social-media{
    display: flex;
 }
 .footer_social-media a{
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #e0dbe6;
    background-image: linear-gradient(to top, rgb(214, 141, 6), #c4bba5 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
 }
 .footer_social-media i:hover{
    color: #e0dbe6;
    /* transform: scale(1.075);
    transition: 0.2s ease-in; */
    cursor: pointer;
}
 .footer_second p{
    margin-left: 960px;
}